<div class="container mt-3">
  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.genero }}</td>
            <td>{{ empleado.salario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
